{
  "extends": "@antfu",
  "rules": {
    "vue/custom-event-name-casing": [
      "error",
      "kebab-case",
      {
        "ignores": []
      }
    ]
  },
  "ignorePatterns": [
    ".vitepress",
    "lib"
  ]
}
